.App {
  color: black;
  min-height: 100vh;
  margin: 0 auto;
  background: #f3f4f6;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: 6rem;
  background: #7c3aed;
  color: white;
  margin-bottom: 6rem;
}

input,
textarea {
  border: 1px solid grey;
  border-radius: 8px;
  margin-top: 5px;
}

input:focus,
textarea:focus {
  outline: none;
}

.btn-light {
  background: #7c3aed !important;
  color: #fff !important;
  border: 1px solid #575a89 !important;
  width: 10%;
}
