.App {
  color: black;
  min-height: 100vh;
  margin: 0;
  background: #f3f4f6;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: 6rem;
  background: #7c3aed;
  color: white;
}

input,
textarea {
  border: 1px solid grey;
  margin-top: 5px;
}

input:focus,
textarea:focus {
  outline: none;
}

.btn-light {
  background: #7c3aed !important;
  color: #fff !important;
  border: 1px solid #575a89 !important;
}

textarea {
  height: 6rem;
}

.App-footer {
  background: #7c3aed;
  color: white;
  position: absolute;
  width: 100%;
  padding: 1rem;
  text-align: center;
  bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.font-18 {
  font-size: 18px !important;
}

a:hover {
  text-decoration: none !important;
}
